.body-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.form-container {
  width: 50%;
  background-color: aliceblue;
}

.error {
  color: red;
}

@media screen and (max-width: 786px) {
  .form-container {
    width: 100%;
  }

  .body-container {
    flex-direction: column;
  }
}
